<!DOCTYPE html>
<html>

  <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS Files comes here -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <link href="/css/animate.css" rel="stylesheet" media="screen">
    <link href="/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/css/owl.theme.css" rel="stylesheet" media="screen">
    <link href="/css/nivo-lightbox.css" rel="stylesheet" media="screen">
    <link href="/css/nivo_lightbox_themes/default/default.css" rel="stylesheet" media="screen">
    <link href="/css/colors/green.css" rel="stylesheet" media="screen">
    <link href="/css/responsive.css" rel="stylesheet" media="screen">
    
    <!-- Google fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic" rel="stylesheet" type="text/css">
    
    <meta charset="utf-8">
    <title>Pluvio</title>

    <meta name="viewport" content="width=device-width,  minimum-scale=1,  maximum-scale=1"/>
    <meta name="description" content="Pluvio is the umbrella upgraded."/>
    <meta name="keywords" content="pluvio, umbrella, best, updgraded, ultimate umbrella"/>
    <meta name="author" content="Arjun Raj Jain, Kevin Cruz, Tess Burns"/>

    <!-- Facebook sharing -->
    <meta property="og:site_name" content="Pluvio"/>    
    <meta property="og:title" content="Pluvio is the umbrella upgraded."/>
    <meta property="og:description" content="Pluvio is the umbrella upgraded."/>
    <!-- <meta property="og:image" content="http://www.downtochill.com/img/dtc512.png"/> -->
    <!-- end Facebook -->
    <!-- <meta name="google-site-verification" content="4glpVqTnhKgiAmCYJkVmwgaccFWaLh7OeUaXERCZXbI" /> -->
    <link rel="icon" type="image/png" href="img/umbrella.png"/> 
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <!-- Start of Async HubSpot Analytics Code -->
      <script type="text/javascript">
     //   (function(d,s,i,r) {
     //     if (d.getElementById(i)){return;}
     //     var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
     //     n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/474652.js';
     //     e.parentNode.insertBefore(n, e);
     //   })(document,"script","hs-analytics",300000);
     </script>
<!-- End of Async HubSpot Analytics Code -->

  </head>

  

  <body>

    <!--###############################-->
    <!--PRELOADER #####################-->
    <!--###############################-->
    
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <!-- <img src="img/logo.png"/ style="height:200px;width:200px;">  -->
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


    <!--###############################-->
    <!--HOME ##########################-->
    <!--###############################-->

    <section id="home" style="background-image:url('/img/giphy.gif');background-repeat:no-repeat;background-size:100% 100%;">
    <div class="container">
        <div class="row">
            <div id="homescreen" class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                 <div id="logo"><a href="#home"></a>
                 </div>
                 <div id="logo_header"><h3 style="color:white;">pluvio</h3></div><br>
                 <div id="slogan"><h1 style="color:white;"><u>The Ultimate Umbrella</u></h1></div>
                 <!-- <a href="https://appsto.re/us/vKsm2.i" class="cta1" id="button_more"><img style="height:40px"src="http://dtozmh1cq40e6.cloudfront.net/public/apple.svg"/> iOS</a>
                 <a href="https://play.google.com/store/apps/details?id=com.downtochill.dtc&hl=en" class="cta2" id="button_download"><img style="height:40px"src="http://dtozmh1cq40e6.cloudfront.net/public/android.svg"/> Android</a> -->
                 <img src="/img/umbrella.png" class="img-responsive" id="home_image" alt="img">
            </div> <div class="clearfix"></div>
        </div>
    </div>
    </section>


    <!--###############################-->
    <!--Features 1 ####################-->
    <!--###############################-->
    
    <section id="features_1">
        <div class="container">
            <div class="row"  >
                <div class="col-sm-6 col-md-6  col-lg-6">
                  <img src="/img/hydro.png" class="img-responsive image_back" id="features1a_image" alt="img">
                  <!-- <img src="/img/hydro.jpg" class="img-responsive image_front" id="features1b_image" alt="img"> -->
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6" id="features_1_content">
                    <h2>Hydrophobic</h2>
                    <p>The pluvio fears the rain a lot more than you do.
                    </p>
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                        <use xlink:href="#graph-pie1"></use></svg>
                        <div>
                            <h4>No more wet floors</h4>
                            <p>Coated in a hydrophobic spray, the pluvio repels liquid, ensuring that when you bring your umbrella inside, its not going to drip.  </p>
                        </div>
                    </div>

                </div>
                
            </div>
            
        </div>
       
    </section>
    

    <!--###############################-->
    <!--Features 2 ####################-->
    <!--###############################-->

    <section id="features_2">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-6" id="features_2_content">
                    <h2>Impossible to Lose Impossible to Forgot</h2>
                    <p> The pluvio has attachment issues...especially on rainy days.</p>
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#ribbon"></use></svg>
                        <div>
                            <h4>iBeacon</h4>
                            <p>The pluvio is imbedded with an iBeacon that lasts at least two years. The battery can be easily replaced using a classic watch battery - CR2032.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#rotate"></use></svg>
                        <div>
                            <h4>Mobile App</h4>
                            <p>Download our mobile app so that it can remind you when its gonna rain and keep track of your pluvio </p>
                        </div>
                    </div>
                    
                </div>
                
                
                <div class="col-sm-6 col-md-6  col-lg-6" >
                    <img src="/img/ibeacon.svg" class="img-responsive image_back" id="features2a_image" alt="img">
                    <img src="/img/features2a.png" class="img-responsive image_front" id="features2b_image" alt="img">
                </div>

            </div>
            
        </div>
        
    </section>

    <section id="features_3">
        <div class="container">
            <div class="row"  >
                <div class="col-sm-6 col-md-6  col-lg-6" >
                  <img src="/img/umbrella.png" class="img-responsive" id="features3a_image" alt="img">
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-6" id="features_3_content" style="padding-top:2em;">
                    <h2>Better Design</h2>
                    <p>The pluvio is self-conscious.</p> 
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#ribbon"></use></svg>
                        <div>
                            <h4>Stronger Canopy / No Exposed Wires</h4>
                            <p>The pluvio is fitted with canvas so that you can walk through hurricanes without a problem, all the while making sure those wires don't poke your eyes out.</p>
                        </div>
                    </div>
                    
                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#rotate"></use></svg>
                        <div>
                            <h4>Easy to Open/Close</h4>
                            <p>The pluvio takes one click to open, and one to close.</p>
                        </div>
                    </div>

                    <div class="feature">
                        <svg viewBox="0 0 32 32" class="feature_icon">
                            <use xlink:href="#rotate"></use></svg>
                        <div>
                            <h4>Ergonomic Handle</h4>
                            <p>The pluvio wants to be held, and you will want to hold it.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
       
    </section>
    
    
    <!--###############################-->
    <!--Newsletter and Footer #########-->
    <!--###############################-->
    
    <section id="footer">
        <div class="container">
            <div class="row" id="newsletter">
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
                    
                    <h2>Pluvio</h2>
                    <h5>The Ultimate Umbrella </h5>
                    <!-- <a href="https://appsto.re/us/vKsm2.i" class="cta1" id="button_more"><img style="height:40px"src="http://dtozmh1cq40e6.cloudfront.net/public/apple.svg"/> iOS</a>
                 <a href="https://play.google.com/store/apps/details?id=com.downtochill.dtc&hl=en" class="cta2" id="button_download"><img style="height:40px"src="http://dtozmh1cq40e6.cloudfront.net/public/android.svg"/> Android</a>                
                </div> -->
            </div>
           
           <div class="row">
               <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="share">
                   
                  <!--  <div id="social_icons">
                       <ul>
                           <li><a href="https://www.facebook.com/downtochill"> <img src="http://dtozmh1cq40e6.cloudfront.net/public/facebook.svg"/></li></a>
                           <li><a href="https://twitter.com/DownToChill"><img src="http://dtozmh1cq40e6.cloudfront.net/public/twitter.svg"/> </a></li>
                       </ul>
                   </div> -->
                   
                   <p>Copyright &copy; 2015 Pluvio</p>
     
               </div>
           </div>
           
        </div>
    </section>
    </script>

    <!-- JavaScript plugins comes here -->
    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/retina.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/nivo-lightbox.min.js"></script>
    <script>
      console.log(navigator.userAgent);
      var isMobile = {
          Android: function() {
              return /Android/i.test(navigator.userAgent);
          },
          BlackBerry: function() {
              return /BlackBerry/i.test(navigator.userAgent);
          },
          iOS: function() {
              return /iPhone|iPad|iPod/i.test(navigator.userAgent);
          },
          Windows: function() {
              return /IEMobile/i.test(navigator.userAgent);
          },
          any: function() {
              return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
          }
      };

     
         // console.log(isMobile.Android());
          console.log(isMobile.iOS());
        if(isMobile.any()) {
          console.log('ye');
          $('#features_3_content').css("text-align","center");
        }
    </script>
  </body>
</html>