<!DOCTYPE html>
<html lang="en">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56669630-1', 'auto');
  ga('send', 'pageview');

</script>
  <head>
    <meta charset="utf-8">
    <title>Down To Chill - See who's free</title>
    <meta name="viewport" content="width=device-width,  minimum-scale=1,  maximum-scale=1">
    <meta name="description" content="Down to Chill's press and acknowledgments.">
    <meta name="keywords" content="down, to, chill, swipe, message, match, time, friends">
    <meta name="author" content="Matt Wojcieszek">
    <link href="/css/press.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="img/logotrans.png"> 
  </head>
  <body>
    <div class="container" id="content">
      <a href="/">
        <img src="img/wordsblack.png">
      </a>
      <a date="2014/10/22" target="_blank" href="http://technical.ly/philly/2014/10/22/penn-down-to-chill-year-off/">
        <span class="link article">
          <div class="image">
            <img src="img/tech_philly.jpg" alt="Techincally Philly Logo">
            <h1>Why these app founders took a break from Penn to focus on &#8216;Down to Chill&#8217;</h1>
            <div class="synopsis" tag=""> 
              Four University of Pennsylvania students took the year off to promote their mobile app. Michael Powell, Matt Wojcieszek, Adam Elkassas and Arjun Raj Jain all have taken the year off to launch Down to Chill. “Down to Chill, simply put, is a way to see when your friends are free and a way to choose which friends you want to hang out without having to text them first,” said Powell, 20, the company&#8217;s COO. Users can connect the app to their Facebook account and then set a time when they&#8217;re “down to chill.” Users are matched up based on proximity, availability and their use of hashtags (such as #lunch or #drinking). Currently, Down to Chill has around 2,000 users, Powell said.
            </div>
          </div>
        </span>
      </a>
      <a date="2014/10/16" target="_blank" href="http://www.wjactv.com/news/features/top-stories/stories/dubois-man-creates-app-help-friends-hang-out-3977.shtml?wap=0">
        <span class="link article">
          <div class="image">
            <img src="img/6-NEWS.jpg" alt="WJACTV logo">
            <h1>DuBois man creates app to help friends hang out</h1>
            <div class="synopsis" tag=""> 
              A DuBois man has now created an app that he said will help friends coordinate free time with each other. “We had a bunch of friends on Facebook but we didn’t know if any of them were free or any of them were on campus,” said Adam Elkassas. So he and a group of friends made a free mobile app he said will help you avoid the guessing game when it comes to trying to find someone to hang out with. It’s called Down to Chill.
            </div>
          </div>
        </span>
      </a>
      <a date="2014/10/12" target="_blank" href="http://www.thecourierexpress.com/tri_county_sunday/news/local/image_9c3f1cb2-519b-11e4-b577-2fe92b77adc4.html">
        <span class="link article">
          <div class="image">
            <img src="img/courier_express.png" alt="Courier Express logo">
            <h1>Down to chill</h1>
            <div class="synopsis" tag=""> 
              Two friends have just used a new smart phone application, “Down to Chill,” to make plans together. Designed by DuBois native Adam Elkassas and a team of college students, the app  uses Facebook to connect friends who have free time and want to hang out. “Down to Chill” can be downloaded for free through the App Store and can bring friends together at the swipe of a finger.
            </div>
          </div>
        </span>
      </a>
      <a date="2014/10/08" target="_blank" href="https://www.discovermeteor.com/blog/meteor-cordova-famous-the-chill-way-to-build-apps/">
        <span class="link article">
          <div class="image">
            <img src="img/discover_meteor.jpeg" alt="Discover Meteor Logo">
            <h1>Meteor, Cordova, and Famo.us: The Chill Way to Build Apps</h1>
            <div class="synopsis"> 
              I’m a twenty-year old programmer (Adam Elkassas) and entrepreneur and here’s the story of how I started the social networking company Down to Chill.
            </div>
          </div>
        </span>
      </a>
      <a date="2014/10/06" target="_blank" href="http://whartonmagazine.com/blogs/play-to-your-strengths-student-entrepreneurs/">
        <span class="link article">
          <div class="image">
            <img src="img/wharton_mag_logo.png" alt="Wharton Mag Logo">
            <h1>Play to Your Strengths, Student Entrepreneurs</h1>
            <div class="synopsis"> 
              I worked at my first startup at age 16 and have since been a marketing and operations analyst for two manufacturing startups out of Los Angeles and Philadelphia. I’ll be honest though. I haven’t been your typical Wharton kid; I’ve spent more time in dance studios than in class and have worked more in Illustrator and Photoshop than in Excel or Bloomberg. Yet, Wharton has helped me channel my creativity and problem-solving skills into entrepreneurial drive and instinct. This drive, mixed with my love of socializing, brought me to Down to Chill, a social networking app that I’ve co-founded.
            </div>
          </div>
        </span>
      </a>
      <a date="2014/09/23"target="_blank" href="http://www.thedp.com/article/2014/09/down-to-chill">
        <span class="link article">
          <div class="image">
            <img src="img/thedp.jpeg" alt="the DP Logo">
            <h1>Penn students launch &#039;Tinder for friends&#039; app Down to Chill</h1>
            <div class="synopsis"> 
              Next time you’re bored on a Friday night, don’t swipe right or left — swipe down. Four Penn students launched an app earlier this month to mobilize plan-making. Wharton junior Michael Powell, Engineering junior Matt Wojcieszek and Engineering and Wharton juniors Adam Elkassas and Arjun Jain developed Down to Chill, a social networking app that allows users to connect with Facebook friends who are available &mdash; or “down to chill” &mdash; at a certain time. 
            </div>
          </div>
        </span>
      </a>
      <a date="2014/09/22"target="_blank" href="http://elitedaily.com/money/meet-founder-glass-u-college-sophomore-took-dorm-room-startup-world-cup-main-stage/650063/">
        <span class="link article">
          <div class="image">
            <img src="img/famous_symbol_transparent.png" alt="Famous Logo">
            <h1>Down to Chill: “Production-ready in a little over a month”</h1>
            <div class="synopsis"> 
              The Down to Chill app launched for both Android and iOS this week. Built with Famo.us and Meteor by a team of four students from University of Pennsylvania, Down to Chill had more than 1000 users after two days. Co-founder Adam Elkassas—the primary coder for the app—spoke to us recently about the team’s experience.
            </div>
          </div>
        </span>
      </a>
    </div>
    
    <footer class="desktop-footer">
      <ul id="list">
        <li class="logo">
          <a href="/">
            <div></div>
          </a>
        </li>
        <li><a href="/apple_app/">IOS</a></li>
        <li><a href="/android_app/">ANDROID</a></li>
        <li class="non-essential"><a href="/blog/">BLOG</a></li>
        <li class="non-essential"><a href="/press">PRESS</a></li>
        <li class="non-essential"><a href="/privacy_policy">PRIVACY</a></li>
        <li class="non-essential"><a href="/terms">TERMS</a></li>
      </ul>
    </footer>
  </body>
</html