<!DOCTYPE html>
<html lang="en">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56669630-1', 'auto');
  ga('send', 'pageview');

</script>
  <head>
    <meta charset="utf-8">
    <title>Down To Chill - See who's free</title>
    <meta name="viewport" content="width=device-width,  minimum-scale=1,  maximum-scale=1">
    <meta name="description" content="Down to Chill's press and acknowledgments.">
    <meta name="keywords" content="down, to, chill, swipe, message, match, time, friends">
    <meta name="author" content="Matt Wojcieszek">
    <link href="/css/privacy_policy.css" rel="stylesheet" media="screen">
    <link rel="icon" type="image/png" href="img/logotrans.png"> 
  </head>
  <body>
    <div class="container">
      <h1>Terms & Conditions</h1>
      <h2>Over View</h2>
      <p>
        We take Your Facebook friends, time allocation, location, interests, and gender to seed You friends and events You may want to message. We will charge for event promotion and analytics. Your privacy matters. We will not divulge Your name to any company in business with Us; however, We do retain the right to the data collected for any internal use. 
      </p>
      <p>
        In using DownToChill You are deemed to have read and agreed to the following terms and conditions.
      </p>
      <p>
        The following terminology applies to these Terms and Conditions, Privacy Statement, and Disclaimer Notice and any or all Agreements: “Client,” “You,” and “Your” refers to You, the person accessing this Product and accepting the Company’s terms and conditions. “Product” refers to any content created by DownToChill, including but not limited to mobile applications, website, any information presented to You. “The Company,” “We,” “Us,” and “DownToChill” refers to the company Down To Chill Incorporated. “Party,” “Parties,” and “Us” refer to both the Client and Ourselves or either the Client or Ourselves. All terms refer to the use of Our Product, its information, and the information that We will be requesting.
      </p>
      <h2>Privacy Statement</h2>
      <p>
        We are committed to protection Your privacy. Authorized employees within the company will have access to information gathered by Our Product. This information includes but is not limited to name, date of birth, Facebook friendships, gender, interests, location, gestures while using the Product, time preferences, and any other data inputted into the Product or requested from Facebook. “Facebook” refers to Facebook, Inc. We will with Facebook’s information request policy for receiving information policy. 
      </p>
      <h2>Confidentiality</h2>
      <p>
        We reserve the right to show third parties any of the information that We have gathered excluding . We reserve the right to use this information for financial gain. We condemn any attempt to access information that has not been specifically been outline in the Terms and Conditions or by a member of Our staff. We reserve the right to pursue legal action on behalf of any information that is unlawfully obtained. Clients have the right to request sight of, and copies of any and all Client Records We keep within the company. We reserve the right to keep information about a Client, even if that Client has explicitly asked for its removal. We will remove information upon being ordered by an appropriate court. We use ‘appropriate’ to mean a court that presides over Our company’s address and is enforcing legislation of a governing body that presides over that same region.
      </p>
      <h2>Disclaimer</h2>
      <h2>Exclusions and Limitations</h2>
      <p>
        The information on this web site is provided on an “as is” basis. To the fullest extent of the law, this company: excludes all representation and warranties relating to this website and its contents or which is or may be provided by an affiliate third party, including in relation to any inaccuracies or omissions in this and/or the Company’s literature; and excludes all liability for damages arising out of or in connection with Your use of this website. This includes without limitation, direct loss, damages caused by persons met from this app, or any other direct or indirect, consequential and incidental damages
      </p>
      <h2>Payment & Monetization</h2>
      <p>
        Although We currently do not charge for any of the features on this app, We reserve the right to charge for features. We reserve the right to monetize any information that is gathered from the user. We reserve the right to present advertisements to the user and profit from that placement.
      </p>
      <h2>Cancellation Policy</h2>
      <p>
        Any Client is able to request that their specific information is no longer presented to others on the app. Inherent in Our application is this ability by not using this application. Clients who have asked to be taken down and still maintain use of this application will still be presented.  We assume such an action is indication of willingness for information to be shared. We reserve the right to keep the information that We gathered from the Client’s time using this application
      </p>
      <h2>Termination of Agreements and Refunds Policy</h2>
      <p>
        Both the Client and Ourselves have the right to terminate any Services Agreement for any reason. Termination of this agreement implies that the user no longer accesses this application and any information that We have given the Client access to. If any money has been exchanged, it will not be refunded.
      </p>
      <h2>Availability</h2>
      <p>
        Although We strive to maintain the availability of Our Product, We reserve the right to take Our Product down for any period of time. The company does not warrant that the service from this site will be uninterrupted, timely, or error free, although it is provided to the best of Our ability. This Product is not intended to help Clients with buying, and/or selling of services. If the unavailability of the Product results in financial loss in the Client, the Client will not seek damages in court. Redistribution or republication of any part of this Product or its contents is prohibited, including such by framing or other similar or any other means, without the express written consent of the Company. By using this service You thereby indemnify this Company, its employees, agents, and affiliates against any loss or damage, in whatever manner, however caused.
      </p>
      <h2>Log Files</h2>
      <p>
        We use IP addresses to analyze trends, administer the site, track user’s movement, and gather broad demographic information for aggregate use. IP addresses will not be linked to personally identifiable information. Additionally, for system administration, detecting usage patters, and troubleshooting purposes, Our services automatically log standard information including means of access, time of access, and usage of Product.
      </p>
      <h2>Cookies</h2>
      <p>
        When permitting, We reserve the right to retrieve user details for each visit. 
      </p>
      <h2>
        Links to this website
      </h2>
      <p>
        We permit any person to link to Our website and/or Product provided the following: if a link is made, We reserve the right to make a link to said person’s webpage or to broadcast the link on social media. They will remove the link upon the express request of the Company
      </p>
      <h2>Links from this website</h2>
      <p>
        We do not monitor or reviews the content of other party’s website which are linked to from this website. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be aware that We are not responsible for the privacy practices or content of these sites. We encourage out users to be aware when they leave Our site and to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this site or accessed through this site Yourself, before disclosing any personal information to them. This Company will not accept any responsibility for any loss or damage in whatever manner, howsoever caused, resulting from Your disclosure to third parties of personal information.
      </p>
      <h2>Copyright Notice</h2>
      <p>
        Copyright and other relevant intellectual property rights exists on all text relation to the Company’s services and the full content of this website. This Company’s logo is registered trademark of this Company in the United States and other countries. The brand names and specific services of this Company featured on this website are trade marked. We receive the right to seek compensation from any company that creates a similar Product or similar logo. A similar Product will include one or more of the following: use of a downward swipe to represent interest in an activity, event, and/or person, creating preferences based on time, distance, gender, past use of the product, and/or interests, explicit use of the word “beacon” to describe a location in a product, or branding of the Product as a “social beacon,” and having dynamic lists for interests, events, and people based on information gathered when people use these lists.
      </p>
      <h2>Force Majeure</h2>
      <p>
        Neither party shall be liable to the other for any failure to perform any obligation under any Agreement, which is due to an event beyond the control of such party. This is specific to the failures of any third party that this Product relies on to perform its service and includes failures in hardware, Internet services and database services. 
      </p>
      <h2>Waiver</h2>
      <p>
        Failure of either Party insist upon strict performance of any provision of this or any Agreement or the failure of wither Party to exercise any right or remedy to which it, he or they are entitled hereunder shall not constitute a waiver thereof and shall not cause a diminution of the obligations under this or any Agreement. No waiver of any of the provisions of this or any Agreement shall be effective unless it is expressly stated to be such and signed by both Parties.
      </p>
      <h2>General</h2>
      <p>
        The laws of the United States govern these terms and conditions. By accessing this website You consent to these terms and conditions and to the exclusive jurisdiction of United States’ courts in all disputes arising out of such access. If any of these terms are deemed invalid or unenforceable for any reason, then the invalid or unenforceable provision will be severed from these terms and the remaining terms will continue to apply. Failure of the Company to enforce any of the provisions will, then the unenforced provision will be severed from these terms and the remaining terms will continue to apply.  Failure of the Company to enforce any of the provisions set out in these Terms and Conditions and any Agreement, or failure to exercise any option to terminate, shall not be construed as waiver of such provisions and shall not affect the validity of these Terms and Conditions or of any Agreement or any part thereof, or the right thereafter to enforce each and every provision. These Terms and Conditions shall not be amended, modified, varied or supplemented except in writing and signed by duly authorized representatives of the Company.
      </p>
      <h2>Notification of Changes</h2>
      <p>
        The Company reserves the right to change these conditions from time to time as it sees fit and Your continued use of the site will signify Your acceptance of any adjustment to these terms. If there are any changes to Our privacy policy, We will announce that these changes have been made on Our home page and on other key pages on Our site. If there are any changes in how We use Our site customers’ Personally Identifiable Information, notification by e-mail or postal mail will be made to those affected by this change. Any changes to Our privacy policy will be posted on Our web site 30 days prior to these changes taking place. You are therefore advised to re-read this statement on a regular basis. 
      </p>
      <p>
        These terms and conditions form part of the Agreement between the Client and Ourselves. Your accessing of this website and/or undertaking of a booking or Agreement indicates Your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. Your statutory Consumer Rights are unaffected.
      </p>
    </div>
    <footer class="desktop-footer">
      <ul id="list">
        <li class="logo">
          <a href="/">
            <div></div>
          </a>
        </li>
        <li><a href="/apple_app/">IOS</a></li>
        <li><a href="/android_app/">ANDROID</a></li>
        <li class="non-essential"><a href="/blog/">BLOG</a></li>
        <li class="non-essential"><a href="/press">PRESS</a></li>
        <li class="non-essential"><a href="/privacy_policy">PRIVACY</a></li>
        <li class="non-essential"><a href="/terms">TERMS</a></li>
      </ul>
    </footer>
  </body>
</html